.card {
  min-width: 80%;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 800px;
  min-width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 800px;
}

a, mat-row {
  cursor: pointer;
}

.spinner-container {
  height: 360px;
  width: 390px;
  position: fixed;
}

.spinner-container mat-spinner {
  margin: 130px auto 0 auto;
}
